<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/071897bdcc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Dılbaz Stalin Junior</title>
</head>
<body>
    <%- include("./header.ejs") %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col" style="padding-top: 100px;">
                <h1><strong>Dılbaz Stalin Junior</strong></h1>
                <p style="font-size: 20px;">Merhaba ben Dılbaz Stalin Junior yaklaşık 2 yıldır yazılım ile ilgileniyorum Full Stack Geliştiriciyim genelde projelerimde <strong><a href="https://nodejs.org/" class="link-success">NodeJS</a></strong> Kullanıyorum</p>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid" src="https://cdn.discordapp.com/avatars/670667760577019909/cdc7901544c152167b1bff10f3728f27.png?size=2048" alt="pp">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <center><h1><strong>Kullandığım Teknolojiler</strong></h1></center>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col" id="teknolojiler">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JS">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="NodeJS">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="PY">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" alt="ExpressJS">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" alt="MongoDB">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML">
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    <div class="container" style="padding-top: 25px;">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original.svg" alt="HEROKU">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="Bootstrap">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" alt="NPM">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="VSCode">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                  <div class="card-body">
                    <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/ubuntu/ubuntu-plain.svg" alt="Ubuntu">
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="container" id="projelerim">
        <center><h1><strong>Projelerim</strong></h1></center>
        <div class="row justify-content-center">
            <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                    <div class="card-body">
                        <h5><a style="color: #fff;" href="">stalinOS</a></h5>
                        <p>stalinOS Python ile yapılmış basit bir işletim sistemidir</p>
                      </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                    <div class="card-body">
                        <h5><a style="color: #fff;" href="">S O V I E T</a></h5>
                        <p>S O V I E T NodeJS ile yapılmış anonim bir forum sitesidir</p>
                      </div>
                  </div>
            </div>
            </div>
        </div>
        <div class="container" id="hesaplarim">
            <center><h1><strong>Hesaplarım</strong></h1></center>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                        <div class="card-body">
                            <center><h1><i class="fa-regular fa-envelope"></i></h1></center>
                            <center><strong>E-Mail</strong></center>
                            <center><p>stalinjunior@protonmail.com</p></center>
                          </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                        <div class="card-body">
                            <center><h1><i class="fa-brands fa-github"></i></h1></center>
                            <center><strong>GitHub</strong></center>
                            <center><p>@StalinJuniorDev</p></center>
                          </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                        <div class="card-body">
                            <center><h1><i class="fa-brands fa-youtube"></i></h1></center>
                            <center><strong>YouTube</strong></center>
                           <center><p>Dılbaz Stalin Junior</p></center>
                          </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                        <div class="card-body">
                            <center><h1><i class="fa-brands fa-twitter"></i></h1></center>
                            <center><strong>Twitter</strong></center>
                            <center><p>@StalinJuniorDev</p></center>
                          </div>
                      </div>
                </div>
                <div class="col">
                    <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                        <div class="card-body">
                            <center><h1><i class="fa-brands fa-discord"></i></h1></center>
                            <center><strong>Discord ID</strong></center>
                            <center><p>670667760577019909</p></center>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                                        <div class="card-body">
                                            <center><h1><i class="fa-brands fa-instagram"></i></h1></center>
                                            <center><strong>Instagram</strong></center>
                                            <center><p>@StalinJuniorDev</p></center>
                                          </div>
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                                        <div class="card-body">
                                            <center><h1><i class="fa-solid fa-dollar-sign"></i></h1></center>
                                            <center><strong>Papara</strong></center>
                                            <center><p>1336693335</p></center>
                                          </div>
                                      </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="background-color: #1f2937; border: none; border-radius: 10px;">
                                        <div class="card-body">
                                            <center><h1><i class="fa-brands fa-npm"></i></h1></center>
                                            <center><strong>NpmJS</strong></center>
                                            <center><p>stalinjunior</p></center>
                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>