<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/071897bdcc.js" crossorigin="anonymous"></script>
    <title>stalinjunior</title>
</head>
<style>
    body{
        background-color: #333338;
        color: #fff;
    }
    .header{
        background-color: #515169;
    }
    .nav-item{
        padding: 5px;
    }
    a{
        color: #fff;
        text-decoration-line: none;
    }
    a:hover{
        color: #fff;
    }
</style>
<body>
<div class="header" style="padding: 3px;"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <%- include("./header.ejs") %> 
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <div class="card" style="background-color: #515169; border-radius: 7px; border: none; padding: 10px;">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-lg-3">
                                <img style="background-color: transparent; border: none;" class="img-thumbnail" src="https://i.ibb.co/YbZY3gC/cdc7901544c152167b1bff10f3728f27.png" alt="stalinjunior">
                            </div>
                            <div class="col">
                                <center><h3>stalinjunior</h3></center>
                                <p>Merhaba benim adım stalinjunior 15 yaşındayım Full Stack geliştiriciyim Stalin Junior Development'ın kurucusu ve yöneticisiyim bildiğim diller sırasıyla; PHP, JS ve PY genelde projelerim için Javascript kullanıyorum ama arada çok nadiren bile olsa Python kullandığıma şahit olabilirsiniz NodeJS ile proje geliştirirken genelde express, node-fetch ve mongoose modülleri kullanıyorum framework olarak ise EJS kullanıyorum ilerde ReactJS ve Svelte ile projeler yapmayı düşünüyorum en çok kullandığım kod editörü ile Visual Studio Code kullanıyorum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 style="padding-top: 10px;" id="teknolojiler">Kullandığım Teknolojiler</h2>
            <div class="card" style="background-color: #515169; border-radius: 7px; border: none; padding: 10px;">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JS">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://web.archive.org/web/20211022202025/https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="NodeJS">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="PY">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" alt="ExpressJS">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" alt="MongoDB">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://web.archive.org/web/20211022202025/https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://web.archive.org/web/20211022202025/https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://web.archive.org/web/20211022202025/https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original.svg" alt="HEROKU">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="Bootstrap">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://web.archive.org/web/20211022202025/https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://web.archive.org/web/20211022202025/https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" alt="NPM">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://web.archive.org/web/20211022202025/https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="VSCODE">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="background-color: #333338; border: none; border-radius: 7px; padding: 10px;">
                                    <div class="card-body">
                                        <img src="https://web.archive.org/web/20211022202025/https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 style="padding-top: 10px;" id="projeler">Projeler</h2>
                <div class="row justify-content-center">
                    <div class="col">
                        <a href="https://github.com/StalinJuniorDev/stalinOS">
                            <div class="card" style="background-color: #515169; border-radius: 7px; border: none;">
                                <img src="https://raw.githubusercontent.com/StalinJuniorDev/stalinOS/main/logo.png" class="card-img-top" alt="StalinOS">
                                <div class="card-body">
                                  <h5 class="card-title">stalinOS</h5>
                                  <p class="card-text">stalinOS Python ile yapılmış basit bir işletim sistemidir</p>
                                </div>
                              </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://github.com/StalinJuniorDev/uptime">
                            <div class="card" style="background-color: #515169; border-radius: 7px; border: none;">
                                <img src="https://i.ibb.co/B6HXW11/Screenshot-20220609-174114.png" class="card-img-top" alt="StalinOS">
                                <div class="card-body">
                                  <h5 class="card-title">Stalin Junior - Uptime</h5>
                                  <p class="card-text">Stalin Junior - Uptime NodeJS ile yapılmış basit bir uptime sitesidir</p>
                                </div>
                              </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://github.com/StalinJuniorDev/S-O-V-I-E-T">
                            <div class="card" style="background-color: #515169; border-radius: 7px; border: none;">
                                <img src="https://upload.wikimedia.org/wikipedia/tr/c/cc/Wojak_cropped.jpg" class="card-img-top" alt="StalinOS">
                                <div class="card-body">
                                  <h5 class="card-title">S O V I E T</h5>
                                  <p class="card-text">S O V I E T NodeJS ile yapılmış anonim bir forum sitesidir</p>
                                </div>
                              </div>
                        </a>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<br>
<div class="header" style="padding: 15px;" id="footer">
    <div class="container"><div class="row justify-content-center"><div class="col-lg-4">
        <h5>stalinjunior.xyz Copyright &copy; 2022.</h5>
    </div><div class="col text-end" style="font-size: 20px; padding-right: 15px;">
        <a href="https://github.com/StalinJuniorDev">
        <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://twitter.com/StalinJuniorDev"><i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://instagram.com/StalinJuniorDev">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="mailto:stalinjunior@protonmail.com"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>
</div>
</div>
</body>
</html>