body{
    background-color: #1a1a1a;
    color: #b1b1b1;
}
a{
    text-decoration-line: none;
    color: #979797;
}
a:hover{
    text-decoration-line: underline;
}
.navbar{
    background-color: #1a1a1ae7;
    border-bottom: 1px solid #363636;
}
.img{
    transition: 0.9s;
}
.img:hover{
    transform: rotate(360deg);
}
i{
    transition: 0.9s;
}
i:hover{
    transform: rotate(360deg);
}
.nodejs{
    transition: 0.5s;
    padding-left: 7px;
    padding-right: 7px;
    color: #198754;
    border-radius: 100px;   
}
.nodejs:hover{
    background-color: #198754;
    text-decoration-line: none;
    color: #fff;
}